<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yz.dao.DishInfoDao">
    <sql id="Base_Column_List">
        id,
		`name`,
		`type`,
		create_date,
		create_by
    </sql>
    <resultMap id="BaseResultMap" type="com.yz.domain.DO.DishInfoDO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="create_date" property="createDate"/>
        <result column="create_by" property="createBy"/>
    </resultMap>
    <select id="get" resultType="com.yz.domain.DO.DishInfoDO">
        select `id`, `name`, `type`, `create_date`, `create_by`
        from dish_info
        where id = #{value}
    </select>

    <select id="list" resultType="com.yz.domain.DO.DishInfoDO">
        select `id`,`name`,`type`,`create_date`,`create_by` from dish_info
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="type != null and type != ''">and type = #{type}</if>
            <if test="createDate != null and createDate != ''">and create_date = #{createDate}</if>
            <if test="createBy != null and createBy != ''">and create_by = #{createBy}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from dish_info
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="type != null and type != ''">and type = #{type}</if>
            <if test="createDate != null and createDate != ''">and create_date = #{createDate}</if>
            <if test="createBy != null and createBy != ''">and create_by = #{createBy}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.yz.domain.DO.DishInfoDO" useGeneratedKeys="true" keyProperty="id">
        insert into dish_info
        (`name`,
         `type`,
         `create_date`,
         `create_by`)
        values (#{name},
                #{type},
                #{createDate},
                #{createBy})
    </insert>

    <update id="update" parameterType="com.yz.domain.DO.DishInfoDO">
        update dish_info
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="type != null">`type` = #{type},</if>
            <if test="createDate != null">`create_date` = #{createDate},</if>
            <if test="createBy != null">`create_by` = #{createBy}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete
        from dish_info
        where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from dish_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--auto generated by MybatisCodeHelper on 2021-07-14-->
    <delete id="removeByName">
        delete
        from dish_info
        where `name` = #{name}
    </delete>
</mapper>