<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yz.dao.UserInfoDao">
	<sql id="Base_Column_List">
		id,
		open_id,
		create_date,
		update_date,
		remark,
		user_name,
		pass_word,
		mobile
	</sql>
	<resultMap id="BaseResultMap" type="com.yz.domain.DO.UserInfoDO">
		<result column="id" property="id"/>
		<result column="open_id" property="openId"/>
		<result column="create_date" property="createDate"/>
		<result column="update_date" property="updateDate"/>
		<result column="remark" property="remark"/>
		<result column="user_name" property="userName"/>
		<result column="pass_word" property="passWord"/>
		<result column="mobile" property="mobile"/>
	</resultMap>
	<select id="get" resultType="com.yz.domain.DO.UserInfoDO">
		select `id`,`open_id`,`create_date`,`update_date`,`remark`,`user_name`,`pass_word`,`mobile` from user_info where id = #{value}
	</select>

	<select id="list" resultType="com.yz.domain.DO.UserInfoDO">
		select `id`,`open_id`,`create_date`,`update_date`,`remark`,`user_name`,`pass_word`,`mobile` from user_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="openId != null and openId != ''"> and open_id = #{openId} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="passWord != null and passWord != ''"> and pass_word = #{passWord} </if>
		  		  <if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from user_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="openId != null and openId != ''"> and open_id = #{openId} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="passWord != null and passWord != ''"> and pass_word = #{passWord} </if>
		  		  <if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.yz.domain.DO.UserInfoDO" useGeneratedKeys="true">
		insert into user_info
		(
			`open_id`, 
			`create_date`, 
			`update_date`, 
			`remark`, 
			`user_name`, 
			`pass_word`, 
			`mobile`
		)
		values
		(
			#{openId}, 
			#{createDate}, 
			#{updateDate}, 
			#{remark}, 
			#{userName}, 
			#{passWord}, 
			#{mobile}
		)
	</insert>
	 
	<update id="update" parameterType="com.yz.domain.DO.UserInfoDO">
		update user_info 
		<set>
			<if test="openId != null">`open_id` = #{openId}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="passWord != null">`pass_word` = #{passWord}, </if>
			<if test="mobile != null">`mobile` = #{mobile}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from user_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from user_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

<!--auto generated by MybatisCodeHelper on 2021-07-13-->
	<select id="getByOpenId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from user_info
		where open_id=#{openId}
	</select>
</mapper>